* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fed4b0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

main, #content-header, .todo {
    display: flex;
    flex-direction: row;
}

header {
    padding: 1em 2em;
    color: #dd4a3d;

}

#sidebar {
    background-color: #fef0e4;
    height: 100vh;
    width: 20vw;
    padding: 1em;
}
#sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#add-project, #add-todo {
    padding: 1em 1.5em;
    background-color: #f15243;
    border-radius: 10px;
}

#add-project:hover,
#add-todo:hover {
    background-color: #f02c1a;
}

#add-project:active,
#add-todo:active {
    background-color: #ef7368;
}

#add-project p,
#add-todo p {
    color: white;
    font-weight: bold;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fef0e4;
    margin-bottom: 5px;
}

.project:hover {
    background-color: #fce4d0 ;
}

.delete-project {
    background-color: #fef0e4;
    color: #fef0e4 ;
    font-weight: bold;
}

.project:hover .delete-project {
    background-color: #fce4d0 ;
    color: #fce4d0 ;
    color: rgb(50, 50, 50);
}

#content {
    background-color: #fcfaf8 ;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

#content-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.project-heading {
    font-size: 1.8em;
}

.todo {
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    border: 2px solid #feb270;
    border-radius: 8px;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.todo:hover {
    background-color: #fef0e4;
}

.todo:hover .checkbox {
    background-color: #fef0e4;
}

.todo > .checkbox {
    background-color: white;
    border-radius: 40%;
}

.todo > .title {
    font-weight: bold;
}

.todo > .description {
    color: rgb(148, 148, 148);
}

.todo > .delete-todo {
    border-radius: 3px;
    background-color: #f02c1a;
    padding: 3px 8px;
    color: white;
}

.todo > .delete-todo:hover {
    background-color: #eb675b;
}
.todo > .delete-todo:active {
    background-color: #e81603;
}

#project-form-container {
    position: fixed;
    inset: 0;

    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

#project-form {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#project-form label {
    font-size: 0.9em;
    margin: 2rem 0 0.5rem 0;
}

#project-form input {
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #feb270;
    width: 400px;
}

#project-form input:focus {
    outline: none;
    box-shadow: 0 0 2px 3px #fbddc3;
}

#project-form-btns {
    display: flex;
    justify-content: end;
    align-items: center;
}

#cancelbtn, #submitbtn {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 12px;
    border-radius: 8px;
}

#cancelbtn {
    background-color: #fff8f1;
    border: 1px solid #f9e9da;
}
#cancelbtn:hover {
    background-color: #f9e9da;
}

#submitbtn {
    background-color: #ec493a;
    color: white;
}
#submitbtn:hover {
    background-color: #d93b2c;
}
