body {
    background-color: antiquewhite;
}

ul {
    list-style: none;
}

main, #content-header, .todo {
    display: flex;
    flex-direction: row;
}

#sidebar {
    background-color: rgb(253, 193, 120);
    height: 100vh;
}

#content {
    background-color: bisque;
    height: 100vh;
    width: 100%;
}

#content-header {
    justify-content: space-between;
}

.todo {
    justify-content: space-evenly;
    width: 50vw;
}